<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/styles.css">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script src="/scripts.js" charset="utf-8"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1>Shittychan</h1>

    <%=yield%> 

<h5>This is a footer on every page</h5>
<button id="button" type="button" name="button">Test</button>

  </body>
</html>
